<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.text_field :recipient_id %>
  </div>

  <div class="field">
    <%= form.label :poster_id %>
    <%= form.text_field :poster_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :matched_keyword %>
    <%= form.text_field :matched_keyword %>
  </div>

  <div class="field">
    <%= form.label :read %>
    <%= form.check_box :read %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
