<h2>Keyword Alerts</h2>

<%= link_to "Clear all notifications", notifications_index_path, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
<br/><br/>


<table class="table table-hover table-light">
  <thead>
    <tr>
      <th></th>
      <th><strong>Title</strong></th>
      <th>Neighborhood</th>
      <th>Category</th>
      <th>Price</th>
      <th>Details</th>
      <th>Keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        
	      <td><%= link_to 'View', notification.post, class:"btn btn-outline-primary" %></td>
	      <td><strong><%= notification.post.title %></strong></td>
	      <td><%= notification.post.neighborhood %></td>
	      <td><%= notification.post.category %></td>
	      <td>
	        <% if notification.post.price != nil %>
	          <%= "#{notification.post.price}ì›" %>
	        <% end %>
	      </td>
	      <td><%= notification.post.body %></td>
	      <td><%= notification.keyword %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>