<h2>키워드 알림</h2>

<%= link_to "전체 삭제", notifications_index_path, method: :delete, data: { confirm: '정말로 키워드 알림 전체 삭제하고 싶으세요?' }, class:"btn btn-outline-danger" %>
<br/><br/>


<table class="table table-hover table-light">
  <thead>
    <tr>
      <th></th>
      <th><strong>제목</strong></th>
      <th>동네</th>
      <th>카테고리</th>
      <th>가격</th>
      <th></th>
      <th>키워드</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        
	      <td><%= link_to '보기', notification.post, class:"btn btn-outline-primary" %></td>
	      <td><strong><%= notification.post.title %></strong></td>
	      <td><%= notification.post.neighborhood %></td>
	      <td><%= notification.post.category %></td>
	      <td>
	        <% if notification.post.price != nil %>
	          <%= "#{notification.post.price}원" %>
	        <% end %>
	      </td>
	      <td><%= notification.post.body %></td>
	      <td><%= notification.keyword %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3><%= paginate @notifications %></h3>

<br>