<div class="card text-center">
  <div class="card-header">
    <strong><h3><%= @post.title %></h3></strong>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <% if @post.category != nil %>
        <%= @post.category %>  -  
      <% end %>
      <%= @post.neighborhood %>
    </h4>
    <br/>
    <h5 class="card-text"><%= @post.body %><br/><br/></h5>
  </div>

  <% if user_signed_in? && (@post.user_id == current_user.id) %>
    <div class="d-grid gap-1 col-1 mx-auto">
      <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-success" %>
      <br/>
    </div>
  <% end %>

  <div class="card-footer text-muted">
    <strong><h5>
      <% if @post.price != nil %>
        <%= @post.price %>원
      <% else %>
        No price listed
      <% end %>
    </h5></strong>
  </div>
</div>