<div class="card text-center">
  <div class="card-header">
    <strong><h3><%= @post.title %></h3></strong>
  </div>
  
  <div class="card-body">
    <h4 class="card-title">
      <% if @post.category != "" %>
        <%= @post.category %>  -  
      <% end %>
      <%= @post.neighborhood %>
    </h4>

    <% if @post.body != "" %>
      <h5 class="card-text"><br/><%= @post.body %><br/></h5>
    <% end %>
  </div>

  <% if user_signed_in? && (@post.user_id == current_user.id) %>
    <div class="d-grid gap-1 col-1 mx-auto">
      <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-success" %>
      <br/>
    </div>
  <% end %>

  <% if @post.price != nil %>
    <div class="card-footer text-muted">
      <strong><h5><%= @post.price %>원</h5></strong>
    </div>
  <% end %>
</div>